
<ons-page ng-controller="FeedPluginMasterController" ng-init="init()">
    


    <ons-toolbar>
    <div class="left">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
    </div>
    <div class="center" ng-bind-html="title" size="80%" fixed-width="true"></div>
    <div class="right">
            <ons-toolbar-button>
                <ons-icon icon="ion-android-more" size="18px" fixed-width="false" ></ons-icon>
            </ons-toolbar-button>
    </div>
    </ons-toolbar>

    <!--Pull to refresh item-->
    <ons-pull-hook ng-action="load($done)" var="loader">
          <span ng-switch="loader.getCurrentState()">
            <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon>Puxe para atualizar</span>
            <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon>Solte para atualizar</span>
            <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon>Carregando...</span>
          </span>
    </ons-pull-hook>
    <!--Cabeçalho da lista de notícias-->    
    <ons-list-header ng-show="description" ng-bind-html="description" style="top:70px;" ></ons-list-header>
        
    <ons-list ng-show="feeds" modifier="inset">
        <ons-list-item modifier="tappable" class="item" ng-repeat="feed in feeds | limitTo: paginationLimit()" ng-click="showDetail($index)">
            <ons-row>
                
            <ons-col ng-if="feed.mediaGroups" width="95px">
            <div class="thumbnail-container">
                <div ng-if="!hasVideo(feed) && !hasAudio(feed)"><img ng-src="{{feed.mediaGroups[0].contents[0].url}}" class="thumbnail"></img></div>
                <div ng-if="hasVideo(feed)"><img ng-src="{{feed.mediaGroups[0].contents[0].thumbnails[0].url}}" class="thumbnail"></img></div>
            </div>
            </ons-col>

            <ons-col>
            <header>
            <span class="item-title" ng-bind-html="feed.title"></span>
            </header>
            <p class="item-desc" ng-bind-html="feed.contentSnippet"></p>
            </ons-col>
            </ons-row>  
            
        </ons-list-item>
    </ons-list>
    
    <ons-row align="center" class="status-message">
    <ons-col>
    <span ng-bind="msg"></span>
    </ons-col>
    </ons-row>
    
    <div style="padding: 0 10px 10px 10px;">
    <ons-button modifier="large" ng-show="hasMoreItems()" ng-click="showMoreItems()">Mostrar mais</ons-button>
    </div>   

</ons-page>


 
